/* :root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
} */
/* body {
  font-family: var(--main-font);
  color: #212121;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.address {
  font-style: normal;
} */
/* .visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); 
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
} */
/* .container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
} */
/* ======COMPONENTS======= */
/* .title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
} */

/* .section {
  padding: 94px 0px;
}
.section.section-about-us {
  padding: 0 0 94px 0;
} */

/* .section-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
} */

/* .suptitle-light-theme {
  color: #000000;
}
.suptitle-dark-theme {
  color: #ffffff;
} */

/* =====END COMPONENTS===== */
/* =========SITE-NAV================ */

/* nav-container */
/* .page-header {
  border-bottom: 1px solid #f5f4fa;
}
.header .container {
  display: flex;
  align-items: center;
}
.navigation {
  display: flex;
  align-items: center;
} */
/* .logo-item {
  color: var(--accent-color);
}
.logotype {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  letter-spacing: 0.03em;
} */

/* .navigation-list {
  display: flex;
  align-items: center;
  margin-left: 93px;
}

.navigation-list .navigation-item + .navigation-item {
  margin-left: 50px;
}
.navigation-link {
  position: relative;
  display: block;

  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation-link:hover,
.navigation-link:focus {
  color: var(--accent-color);
}
.navigation-list .current {
  color: var(--accent-color);
}
.navigation-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;

  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  margin: 0 auto;

  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation-link:hover::after {
  opacity: 1;
}
.contacts-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}
.contacts-list .item + .item {
  margin-left: 50px;
}
.contacts-link {
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}
.contacts-mail-img {
  width: 16px;
  height: 12px;
  fill: currentColor;
  margin-right: 10px;
}

.contacts-phone-img {
  width: 10px;
  height: 16px;
  fill: currentColor;
  margin-right: 10px;
} */

/* =====END SITE-NAV====== */
/* ==========HERO============ */
/* .hero {
  max-width: 1600px;
  padding: 200px 0;
  text-align: center;
  background-color: #c4c4c4;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero/img-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--primary-white-color);
  max-width: 700px;
  margin: 0 auto;
}
.modal-btn {
  display: inline-block;
  border-radius: 5px;
  border: 1px solid transparent;
  margin-top: 30px;
  padding: 10px 32px;
  min-width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  background: var(--accent-color);
  color: var(--primary-white-color);
  cursor: pointer;
} */
/* ====END HERO===== */

/* =============ПРЕИМУЩЕСТВА================ */

/* .feature-list {
  display: flex;
}
.feature-title {
 
  width: 270px;
  margin-right: 30px;
}
.feature-title:nth-child(4n) {
  margin-right: 0;
}
.feature-list-item {
  margin-bottom: 30px;
  border: none;
  border-radius: 4px;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  display: flex;
  justify-content: center;
  align-items: center;
}
.description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: #757575;
} */
/*============= END ПРЕИМУЩЕСТВА============== */
/* ========О СЕБЕ======= */

/* .about-list {
  display: flex;
}
.about-list-item {
  margin-right: 30px;
}
.about-list-item:nth-child(3n) {
  margin-right: 0;
}
.about-list-item {
  position: relative;
}
.about-list-description {
  position: absolute;
  left: 0;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
  width: 100%;
  padding: 27px 0 27px 0;

  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primary-white-color);
} */
/*============= END О СЕБЕ================ */
/*======== КОМАНДА======= */
/* .team {
  background-color: var(--secondary-bg-color);
}
.team-list {
  display: flex;
  align-items: flex-start;
}
.team-list-item {
  background-color: #ffffff;
  padding: 30px 32px 30px 32px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 270px;
}

.image-item {
  flex-basis: calc((100%-90) / 4);

  display: flex;
  flex-direction: column;
}
.image-item:nth-child(4n) {
  margin-right: 0;
}

.title-names {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;

  text-align: center;
  letter-spacing: 0.03em;
}
.subtitle {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18px;

  text-align: center;
  letter-spacing: 0.03em;

  color: #757575;
} */
/* .social-list {
  display: flex;
  align-items: center;
 
}
.social-list-item {
  width: 206px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--accent-color);
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: var(--primary-white-color);
} */

/* ===========END КОМАНДА=========== */
/* =======Постоянные клиенты===== */
/* .clients-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.clients-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid rgb(175, 177, 184, 1);
  border-radius: 4px;
  background-color: var(--primary-white-color);
  color: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list-icon {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list-link:hover,
.clients-list-link:focus {
  border-color: var(--accent-color);
}
.clients-list-link:hover .clients-list-icon,
.clients-list-link:focus .clients-list-icon {
  fill: var(--accent-color);
} */
/* =================End Постоянные клиенты */
/* ======ПОДВАЛ===== */
.footer {
  margin: 0;
  padding: 60px 0px 60px 0px;
  background-color: #2f303a;
}

.footer-address-link {
  margin: 0 0 9px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71px;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer-contacts-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
.footer-contacts-link:not(.footer-contacts-link:last-child) {
  margin: 0 0 9px 0;
}

.footer-container {
  display: flex;
  align-items: baseline;
}
.address-set {
  display: flex;
  flex-direction: column;
  margin-bottom: -20px;
}
.suptitle-dark-theme {
  margin-bottom: 20px;
}

.footer-social-set {
  display: flex;
  flex-direction: column;
  margin-bottom: -20px;
}
.invite-card {
  font-weight: 700;
  font-size: 14px;
  line-height: 1, 14;
  color: var(--primary-white-color);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-social-set {
  margin-left: 70px;
}
.footer-social-list {
  display: flex;
  /* align-items: center; */
}
.footer-social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-list-link:hover,
.footer-social-list-link:focus {
  background-color: var(--accent-color);
}
.footer-social-list-icon {
  width: 20px;
  height: 20px;
  fill: var(--primary-white-color);
}
.footer-social-list-item {
  margin-right: 10px;
}
/* =====Форма для подписки===== */
.footer-form-group {
  display: flex;
  flex-direction: column;
  margin-left: 93px;
}
.footer-form-input {
  margin-right: 12px;
  width: 358px;
  height: 50px;
  background-color: #2f303a;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #ffffff;
}
.footer-form-group input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
}
.footer-modal-btn {
  display: inline-flex;
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 10px 25px;
  min-width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background: var(--accent-color);
  color: var(--primary-white-color);
  cursor: pointer;
}
.footer-modal-btn-icon {
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

/* end Форма для подписки  */

/* ====== END ПОДВАЛ */
/* ========PORTFOLIO.CSS======= */
/* .filter {
  display: flex;
  align-items: center;
  justify-content: center;
}
.filter-button {
  margin-left: auto;
  margin-right: auto;
  padding: 94px 0 50px 0;
}
.filter-item {
  margin-right: 8px;
}
.filter-item:nth-child(5n) {
  margin-right: 0;
}

.modal-button {
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 6px 22px 6px 22px;
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
  color: var(--primary-white-color);
  background: var(--accent-color);
  cursor: pointer;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
} */
/* ======Галерея работ========= */
.works {
  padding-bottom: 94px;
}
.works-list {
  display: flex;
  flex-wrap: wrap;
}
.works-list-link {
  display: inline-block;
}
.works-list:hover .link,
.works-list:focus .link {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-content {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}
.works-list-item > .card-content {
  border-top: 1px solid transparent;
}

.works-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.works-list-content-wrapper {
  position: relative;
  overflow: hidden;
}
.works-list-item {
  margin-right: 30px;
  margin-bottom: 30px;
}
.works-list-item:nth-child(3n) {
  margin-right: 0;
}

/* .works-list-item:not(:nth-child(3n)) {
  margin-right: 30px;
}  */
.works-list-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
/* .works-list-item:not(:nth-last-child(-n+3)) {
  margin-bottom: 30px;
} */
.works-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}
.works-list-text {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  height: 100%;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.works-list-link:hover .works-list-text,
.works-list-link:focus .works-list-text {
  transform: translateY(0%);
}
/* ======Модальное окно========== */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.25);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  min-width: 528px;
  min-height: 580px;
  padding: 40px;
  background-color: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: background-color 500ms linear;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal:hover {
  background-color: #aaa7a7;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.modal-button-icon:focus,
.modal-button-icon:hover {
  fill: var(--accent-color);
}
.modal-contact-form {
  display: flex;
  flex-direction: column;
}
.modal-form-heading {
  margin-bottom: 12px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.modal-form-field {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus {
  border-color: var(--accent-color);
  outline: none;
}

.modal-form-input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
  margin-bottom: 10px;
}
.form-field {
  margin-top: 10px;
  margin-bottom: 30px;
}

.form-field-icon {
  position: absolute;
  display: block;
  top: -10%;
  left: 12px;
  transform: translateY(10%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus + .form-field-icon {
  fill: var(--accent-color);
}

.modal-form-message {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-message::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-message:focus {
  border-color: var(--accent-color);
  outline: none;
}
.modal-form-check-desk {
  display: flex;
  align-items: center;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
.modal-form-check-desk::before {
  display: block;
  margin-right: 8px;
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid #000000;
  cursor: pointer;
}
.modal-form-term:checked + .modal-form-check-desk::before {
  background-color: var(--accent-color);
  background-image: url("/images/icons.svg/tick.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-color: transparent;
}
.modal-form-term:focus + .modal-form-check-desk::before {
  box-shadow: 0 0 0 2px #2196f3;
}
.modal-form-term-link {
  color: var(--accent-color);
}
.modal-form-button {
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  align-self: center;

  padding: 10px 55px;
  min-width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  background: #188ce8;
  color: var(--primary-white-color);
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* .is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
} */

/* ========end модальное окно */
