.footer {
  margin: 0;
  padding: 60px 0px 60px 0px;
  background-color: #2f303a;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.suptitle-dark-theme {
  margin-bottom: 20px;
}

/* =====Форма для подписки===== */
