.page-header {
  border-bottom: 1px solid #f5f4fa;
}
.header .container {
  display: flex;
  align-items: center;
}
.navigation {
  display: flex;
  align-items: center;
}
.navigation-list {
  display: flex;
  align-items: center;
  margin-left: 93px;
}

.navigation-list .navigation-item + .navigation-item {
  margin-left: 50px;
}
.navigation-link {
  position: relative;
  display: block;

  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation-link:hover,
.navigation-link:focus {
  color: var(--accent-color);
}
.navigation-list .current {
  color: var(--accent-color);
}
.navigation-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;

  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  margin: 0 auto;

  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation-link:hover::after {
  opacity: 1;
}
.contacts-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}
.contacts-list .item + .item {
  margin-left: 50px;
}
.contacts-link {
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}
.contacts-mail-img {
  width: 16px;
  height: 12px;
  fill: currentColor;
  margin-right: 10px;
}

.contacts-phone-img {
  width: 10px;
  height: 16px;
  fill: currentColor;
  margin-right: 10px;
}
